*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(243, 230, 216);
    color: hsl(24, 5%, 18%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

hr{
    border: 0;
    background-color: black;
    height: 1px;
}

.container{
    background-color: white;
    padding: 25px;
    width: 700px;
}

.container-title{
    font-family: "Young Serif", serif;
    font-size: 1.7rem;
}

.container-desc{
    text-align: justify;
}

.card-time{
    background-color: hsl(330, 100%, 98%);
}

.card-title{
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

.card-list-item{
    color: hsl(332, 51%, 32%);
}

.card-list-desc{
    color: hsl(30, 10%, 34%);
}

.section-title{
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
}

.section-list{
    color: hsl(14, 45%, 36%);
    font-size: 0.8rem;
}

.section-list-item{
    font-weight: 600;
}

.section-list-desc{
    color: hsl(30, 10%, 34%);
    text-align: justify;
    line-height: 22px;
    font-size: 1.1rem;
}

.container-footer{
    margin-top: 20px;
}

.table{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.table-item{
    width: 350px;
}

.table-highlight, .attribution a{
    color: hsl(14, 45%, 36%);
    font-weight: 600;   
}

@media (max-width: 768px){
    body, .section-list-desc{
        font-size: 1rem;
    }
    .container{
        width: 500px;
    }
    .container-title{
        font-size: 1.5rem;
    }
}

@media (max-width: 576px){
    body{
        font-size: 0.9rem;
    }
    .container{
        width: 370px;
    }
    
}